mixin aboutCard(src, alt)
    li.about__card
        img.about__img(src=require(src) alt=alt)

section#about.about
    .about__inner
        h2.about__header О музее
        ul.about__list
            +aboutCard("./img/pic-1.jpg", "Выставочный зал музея")
            +aboutCard("./img/pic-2.jpg", "Выставочный зал музея")
            +aboutCard("./img/pic-3.jpg", "Выставочный зал музея")
        .about__desc.
            Открыт в 2016 году на территории бывшей кондитерской фабрики «Большевик». Раньше тут хранили муки и
            сахар, а теперь представлены полотна Валентина Серова, Константина Коровина, Игоря Грабаря и других
            русских и советских импрессионистов.
        .about__desc.
            Кроме выставок проводим лекции, мастер-классы, встречи с авторами, книжные презентации, а также
            специальные мероприятия для детей и подростков с особенностями развития, издаём книги.