section#tasks.tasks
    .container
        .tasks__text-block
            h2.tasks__header Задания для волонтёров
            p.tasks__desc Можно помогать разным отделам музея, офлайн или удалённо.
        ul.stack-cards

            li.stack-cards__item.stack-cards__item-1
                .stack-cards__item-content-wrapper
                    .stack-cards__text-block
                        h3.stack-cards__title Входная группа
                        .stack-cards__coordinator
                            img.stack-cards__avatar(src=require("../../img/faq/avatar.png") alt="Фотография координатора волонтерских программ")
                            .stack-cards__coordinator-text Куратор Вера Рябинина
                        .stack-cards__desc Встреча гостей при входе, рассказ о музее, выставках и мероприятиях, помощь администраторам на стойке информации. При необходимости помощь в гардеробе.
                    .stack-cards__photo-wrapper
                        img.stack-cards__photo(src=require("./img/pic-1.jpg") alt="Входная группа в музее")

            li.stack-cards__item.stack-cards__item-2
                .stack-cards__item-content-wrapper
                    .stack-cards__text-block
                        h3.stack-cards__title Просвещение
                        .stack-cards__coordinator
                            img.stack-cards__avatar(src=require("../../img/faq/avatar.png") alt="Фотография координатора волонтерских программ")
                            .stack-cards__coordinator-text Кураторы Виктория Ровнова, Любовь Чиркина
                        .stack-cards__desc Просветительская деятельность музея подразумевает как работу с посетителями самых разных групп и категорий, так и длительный этап подготовки и апробации образовательных продуктов. Волонтеры помогают организовывать и проводить специальные мероприятия, в том числе детские и инклюзивные.
                    .stack-cards__photo-wrapper
                        img.stack-cards__photo(src=require("./img/pic-2.jpg") alt="Групповое занятие с детьми")
