@use "shared";

%button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 100px;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  color: shared.$text-primary-color;
}

.primary-button {
  @extend %button;
  @include shared.button("primary");
  background: shared.$ui-inverted-color;
  border: 3px solid shared.$ui-inverted-color;
  padding: 20px 40px;
  color: shared.$text-inverted-color;

  &:hover {
    background: shared.$ui-accent-red-color;
    border-color: shared.$ui-accent-red-color;
  }

  &:active {
    background: shared.$ui-accent-dark-red-color;
    border-color: shared.$ui-accent-dark-red-color;
  }

  &:focus {
    background: shared.$ui-accent-red-color;
    border: 3px solid shared.$ui-inverted-color;
  }
}

.secondary-button {
  @extend %button;
  @include shared.button("secondary");
  background: transparent;
  padding: 12px 24px;
  border: 1px solid shared.$ui-border-color;
  color: shared.$text-primary-color;

  &:hover {
    color: shared.$text-accent-red-color;
  }

  &:active {
    color: shared.$text-accent-red-color;
    border: 1px solid shared.$ui-accent-red-color;
  }

  &:focus {
    color: shared.$text-accent-red-color;
    border: 3px solid shared.$ui-inverted-color;
    padding: 10px 22px;
  }
}