@use "shared";

:root {
  --site-content-max-width: 1520px;
  --section-margin-side: 16px; /* responsive margin for left and right sides of each section on the site */
  --section-margin-bottom: 120px;

  @media (min-width: 768px) {
    --section-margin-side: 3vw;
  }

  @media (min-width: 1024px) {
    --section-margin-side: 4.7vw;
  }

  @media (min-width: 1440px) {
    --section-margin-side: 8.3vw;
  }

  @media (min-width: 1920px) {
    --section-margin-side: calc((100% - var(--site-content-max-width)) / 2);
  }
}

body {
  @include shared.text-body("m");
  overflow-x: hidden;
}

.container {
  margin-left: var(--section-margin-side);
  margin-right: var(--section-margin-side);
}

a {
  color: shared.$ui-accent-blue-color;
  text-decoration: none;
}