@use "shared";

input {
  @include shared.text-body("m");
  padding: 24px 32px;
  background: shared.$ui-primary-color;
  border-radius: 100px;
  width: 100%;
  border: 1px solid shared.$ui-primary-color;
  color: shared.$text-primary-color;
  outline: none;

  &:hover {
    background: shared.$ui-neutral-color;
    border-color: shared.$ui-neutral-color;
  }

  &:active, &:focus {
    border: 1px solid shared.$ui-border-color;
  }

  &:disabled {
    background: shared.$ui-neutral-color;
    border-color: shared.$ui-neutral-color;
    color: shared.$ui-border-color;
  }

  &::placeholder {
    color: shared.$text-placeholder-color;
  }
}

