.stack-cards {
  /* Расстояние от верхнего края viewport, на котором будут застревать карточки на экране */
  --stack-cards-top-margin: 207px;
  /* Расстояние между карточками */
  --stack-cards-gap: 20px;

  @media(min-width: 1024px) {
    --stack-cards-gap: 50px;
  }
}


/* Стили отдельной карточки внутри компонента */
.stack-cards__item {
  // Align all cards in the center of component
  margin: 0 auto;

  /* На каком расстоянии от верхнего края экрана (или позицинированного родителя) */
  /* должен залипать компонент при прокрутке страницы */
  position: sticky;
  top: var(--stack-cards-top-margin);

  transform-origin: center top;
  overflow: hidden;

  /* Опционально - для добавления тени под карточками */
  box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
  /* Опционально - для скругления углов у карточек */
  border-radius: 0.5em;
}