@use "shared";

.tasks {
  margin-bottom: var(--section-margin-bottom);
}

.tasks__text-block {
  --margin-bottom: 24px;
  margin-bottom: var(--margin-bottom);

  @media (min-width: 1024px) {
    --margin-bottom: 32px;
  }
}

.tasks__header {
  @include shared.header(2);
  margin-bottom: 12px;

  @media (min-width: 1024px) {
    margin-bottom: 16px;
  }
}

.tasks__desc {

}

/*** Customization for Stacking Cards component ***/

.stack-cards {
  padding-bottom: 1px;
}

.stack-cards__item {
  --margin-inside-stack: 20px; // distance between cards when they are inside stack
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 500px;
  margin-bottom: 150px;
  opacity: 0;

  &.stack-cards__item-1 {
    background: shared.$ui-gradient-red;
  }

  &.stack-cards__item-2 {
    background: shared.$ui-gradient-yellow;
  }

  &.stack-cards__item-3 {
    background: shared.$ui-gradient-green;
  }

  &.stack-cards__item-4 {
    background: shared.$ui-gradient-red;
  }

  &.stack-cards__item-5 {
    background: shared.$ui-gradient-green;
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    max-width: 100%;
  }
}

.stack-cards__item-content-wrapper {
  height: 100%;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.stack-cards__text-block {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.stack-cards__title {
  @include shared.header(3);
}

.stack-cards__coordinator {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 10px;
}

.stack-cards__desc {

}

.stack-cards__photo-wrapper {
  flex-basis: 50%;
}

.stack-cards__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}