header.header
    .container
        nav.nav
            img.nav__logo(src=require("./img/logo.svg") alt="Логотип музея русского импрессионизма" width="180" height="80")
            ul.nav__list
                li.nav__item
                    a.nav__link.nav__link-bonuses(href="#bonuses") Бонусы
                li.nav__item
                    a.nav__link.nav__link-tasks(href="#tasks") Задания
                li.nav__item
                    a.nav__link.nav__link-about(href="#about") О музее
                li.nav__item
                    a.nav__link.nav__link-faq(href="#faq") Частые вопросы
            a.nav__button.secondary-button(href="#footer") Стать волонтером