section#bonuses.bonuses
    .bonuses__inner
        h2.bonuses__header Чем больше волонтёришь, тем больше бонусов доступно
        ul.bonuses__list
            li.bonuses__bonus-card.bonuses__header-bonus-card
                h2.bonuses__header Чем больше волонтёришь, тем больше бонусов доступно
            li.bonuses__bonus-card
                img.bonus-card__img(src=require("./img/img-1.jpg") alt="Фотография мастер класса с рисованием")
                .bonus-card__desc
                    h3.bonus-card__header Лекции и мастер-классы
                    p.bonus-card__text По истории искусств/ ...(вставить темы)
            li.bonuses__bonus-card
                img.bonus-card__img(src=require("./img/img-2.jpg") alt="Выставочный зал с картинами")
                .bonus-card__desc
                    h3.bonus-card__header Эксклюзивные события
                    p.bonus-card__text Примеры
            li.bonuses__bonus-card
                img.bonus-card__img(src=require("./img/img-3.jpg") alt="Фотография мастер класса с рисованием")
                .bonus-card__desc
                    h3.bonus-card__header Карта «Спутник»
                    p.bonus-card__text Бесплатное посещение музеев Москвы
