@use "../../app/styles/shared";

.bonuses {
  margin-bottom: var(--section-margin-bottom);
}

.bonuses__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bonuses__header {
  @include shared.header(2);
  margin-left: var(--section-margin-side);
  margin-right: var(--section-margin-side);

  @media (min-width: 1024px) {
    display: none;
  }
}

.bonuses__list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 12px;
  scroll-snap-type: x mandatory;

  // Hide scrollbar
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.bonuses__bonus-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  background: shared.$ui-gradient-red;
  border-radius: 32px;
  width: 314px;
  scroll-snap-align: start;
}

.bonuses__bonus-card:nth-child(2) {
  background: shared.$ui-gradient-green;
}

.bonuses__bonus-card:nth-child(3) {
  background: shared.$ui-gradient-yellow-short;
}

.bonuses__header-bonus-card {
  display: none;

  & .bonuses__header {
    margin: 0;
    display: block;
  }

  @media (min-width: 1024px) {
    display: block;
    background: none;
    width: 520px;
  }
}

/* Left and right margins before the first card and after the last */
.bonuses__list::before,
.bonuses__list::after {
  content: "";
  flex: 0 0 calc(var(--section-margin-side) - 12px);
  scroll-snap-align: start;
}

.bonus-card__img {
  border-radius: 32px;
  height: 215px;
  object-fit: cover;
}

.bonus-card__desc {
  padding: 20px 32px;
}

.bonus-card__header {
  @include shared.header(5);
}